[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
dask = {extras = ["complete"], version = "*"}
pymongo = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.9"